body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 400;
}

h1 {
    font-weight: Bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 1.07;
    color: #fff;
    text-align: center;
}

.title-second {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.title-third {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2 ;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo span {
    color: #2E2F42;
}

.link-nav a {
    font-weight: 500;
}

li a {
    color: #2E2F42;
}

.contacts {
    font-style: normal;
}

.contacts li a {
    color:#434455;
    font-weight: 400;
}

li a:hover,
li a:focus {
    color: #404bbf;
}

.portfolio p {
    font-size: 16px;
    font-weight: 400;
}

.footer {
background-color: #2E2F42;
color: #F4F4FD;
}

.footer .logo span {
    color: #F4F4FD;
}

/* section banner */
.banner {
    background-color: #2E2F42;
}

.main-button {
background-color: #4D5AE5;
color: #fff;
cursor: pointer;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

.section-team {
    background-color:  #FFF;
}
