body {
    font-family: "Roboto", sans-serif;
    /* color: #434455;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 400; */
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

address {
    font-style: normal;
}

h1, 
h2, 
h3, 
h4,
p {
 margin: 0;
}

img {
 display: block;
 max-width: 100%;
 object-fit: cover;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


 .container {
   max-width: 320px;
   margin: 0 auto;
    padding: 0 15px;
} 

.flex-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.menu-open-btn {
    width: 16px;
    height: 1px;
    display: block;
    background-color: #2e2f42;
    position: relative;
    padding: 0;
}

.menu-open-btn::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #2e2f42;
    top: -8px;
    left: -2px;
}

.menu-open-btn::before {
    content: "";
    width: 16px;
    height: 2px;
    position: absolute;
    top: -4.5px;
    left: -2px;
    background-color: #2e2f42;
}
/* mobilne menu */
.mob-menu {
width: 100%;
height: 100%;
background-color: #fff;
position: fixed;
top: 0;
left: 0;
visibility: hidden;
opacity: 0;
pointer-events: none;
padding: 24px;
display: flex;
flex-direction: column;
}
.menu-close-btn {
display: block;
margin-left: auto;
width: 24px;
height: 24px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.12);
}
/* .mob-wrap-conteiner {
    display: flex;
    flex-direction: column;
} */
.mob-list-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;

}

.mob-list-menu li a {
    color: #2e2f42;
}

.mob-list-menu li a:hover,
.mob-list-menu li a:focus{
 color: #404bbf;
}
.mob-wrap-contacts {
    margin-top: auto;
}
.mob-contacts {

}

.mob-contact-list {

}

/* mobil menu */
.nav-container {
display: flex;
align-items: center;
} 

 .nav-list {
    display: flex;
    gap: 40px;
    color: #404bbf;
    display: none;
}

.contacts {
    margin-right: 0;
} 
.contact-list {
    display: flex;
    gap: 40px;
    margin-right: 0;
    display: none;
    width: 151px;
    height: 200px;
}
.wrap-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} 

 /* .title-second {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}  */

.title-second {
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.title-third {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2 ;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}
.logo span {
    color: #2E2F42;
}

.link-nav  {
    font-weight: 500;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}
    
.link-nav.current:after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: #404bbf;
    bottom: -1px;
    left: 0;
}

li a {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts li a {
    color:#434455;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li a:hover,
li a:focus {
    color: #404bbf;
}

.portfolio p {
    font-size: 16px;
    font-weight: 400;
}

.footer {
background-color: #2E2F42;
color: #F4F4FD;
padding: 100px 0;
}

.footer .logo span {
    color: #F4F4FD;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .text {
    max-width: 264px;
    color: #FFFFFF;
}
.social-list-item.footer-social .social-item-link:hover,
 .social-list-item.footer-social .social-item-link:focus {
    background-color: #31d0aa;
}

.description-company {
    margin-right: 120px;
}
.text-social {
    margin-bottom: 16px;
    font-weight: 500;
    color: #ffffff;
    display: block;
}

/* section banner */
.banner {
    padding: 72px 52px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url("../images/banner-mob-min.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx), (min-resolution: 192dpi) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/banner-mob-2x-min.jpg");
    }
}



.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
}

.main-button {
background-color: #4D5AE5;
color: #fff;
cursor: pointer;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
display: block;
margin: 0 auto;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
/* section about */
.icons-about {
fill: #2e2f42;
}

.section-about {
     background-color: #fff;
     /* padding: 120px 0; */
     padding: 96px 0;
}

.list-about {
    display: flex;
 /* gap: 24px; */
 gap: 72px;
 flex-wrap: wrap;
}

.item-about {
    gap: 20px;
    max-width: 288px;
}

.item-about-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}


/* section team */
.section-team {
    background-color: #f4f4fd;
    /* padding: 120px 0; */
    padding: 96px 28px;
}

.list-team-card {
display: flex;
/* gap: 24px; */
gap: 72px;
flex-wrap: wrap;
justify-content: space-between;
}

.team-card {
    background-color: #fff;
   /* flex-basis: calc((100% - 48px) / 3); */
   border-radius: 0 0 4px 4px;
max-width: 264px;
text-align: center;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
border-radius: 0 0 4px 4px;
}

.team-card .text {
    margin-bottom: 8px;
}
.team-card-description {
    padding: 32px 0;
}

.title-second {
    margin-bottom: 72px;
}

.social-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-social {
    gap:16px;
}

.social-box {
    margin-right: 80px;
}

.footer-social .social-item-link:hover,
.footer-social .social-item-link:focus {
    background-color: #31d0aa;

}

.social-item-link {
    display: flex;
width: 40px;
height: 40px;
background-color: #4D5AE5;
border-radius: 50%;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover,
.social-item-link:focus{
    background-color: #404bbf;
}


/* section portfolio */
.section-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #fff;
}

.list-portfolio {

    /* justify-content: space-between; */
    /* gap: 48px 24px; */

}

.portfolio-card {
/* max-width: 360px; */
/* width: calc((100% - 48px) / 3); */

}

.portfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.portfolio-card-content {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio-img {
    width: 288px;
    height: 280 ;
}

.icon {
    display: inline-block;
    fill: #f4f4fd;
}

.icon-box {
    display: none;
}

.overlay {
    position: relative;
    overflow: hidden;
    display: block;
}

.text-overlay {
color: #f4f4fd;

position: absolute;
background-color: #4d5ae5;
width: 100%;
height: 100%;
top: 0;
left: 0;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-card:hover .text-overlay {
transform: translateY(0);
}

.portfolio-box-img {
    width: 288px;
    height: 280px;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    background-color: rgba(46, 47, 66, 0.4);   
    z-index: 9999;
    /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal {
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
width: 408px;
min-height: 584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background-color: #fcfcfc;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-forth {
font: 500 16px / 1.5 "Roboto", sans-serif;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;

margin-bottom: 16px;
}

.modal-input,
.user-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 40px;
background-color: inherit;
padding: 8px 38px;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #4d5ae5;
opacity: 0.5;
outline: transparent;
border: 1px solid rgba(46, 47, 66, 0.4); 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

} 

 .modal-input::placeholder,
.user-comment::placeholder {
    color: #8e8f99;
    padding-left: 38px;
}

.user-comment {
    padding: 8px 16px; 
    height: 120px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    line-height: 1.17; 
}
.modal-input:focus,
.user-comment {
   
   border-color: #4D5AE5;
}

.modal-check-text span {
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
    fill: #4D5AE5;
}

.modal-input:checked span {
    border: none;
}

.modal-input:invalid {
    
}

.input-wrap {
    margin-bottom: 8px;
}

.box-input-svg {
    position: relative;
}

.input-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-close {
    position: absolute; 
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E7E9FC;
    border: 1px solid rgb(0, 0, 0, 0.10); 
}

.modal-close:hover, 
.modal-close:focus {
       background-color: #404BBF;
       border: none;
}

.modal-close:hover > .close-icon,
.modal-close:focus  > .close-icon{
       fill: #fff;
}


.title-label {
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.textarea-box {
    margin-bottom: 16px;
}
.user-comment {
    border: 1px solid rgba(46, 47, 66, 0.4) 
}

.user-comment:focus {
    border-color: #4D5AE5; 
}

.modal-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font: 500 16px / 1.5 "Roboto", sans-serif;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
cursor: pointer;
}

.link-privacy {
    color: #4d5ae5; 
}

.checkbox-box {
    margin-bottom: 24px;
}

.model-check {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99; 
} 

.modal-check-text {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    line-height: 1.17; 
   
} 

 .model-check:checked .box-check {
    background-color:#404BBF;
    fill: #f4f4fd;;
} 

.modal-check-text .box-check {
    width: 16px;
    height: 16px;
    border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
margin-right: 8px;
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}
.modal-check-text span:active {
    border-radius: 2px;
    fill: #404bbf;
    border: 1px solid #404bbf;
}  

 .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} 

.is-close {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.model-check:checked + .modal-check-text .box-check {
   background-color: #404bbf;
   border: none; 
   fill:  #F4F4FD; 
} 
.footer-mail {
    background-color: transparent;
}
.footer-mail::placeholder {
    padding: 16px 8px;
    font: 400 12px / 2 "Roboto", sans-serif;
letter-spacing: 0.04em;
color: #fff;

}

.footer-send-box {
    display: flex;
    gap: 24px;
}

.footer-mail {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font-size: 12px;
line-height: 2;
padding-left: 16px;
letter-spacing: 0.04em;
color: #ffffff;
} 

.footer-mail::placeholder {
    color: #ffffff;
} 

.footer-mail-box {

}

.btn-subscribe {
    position: relative;
  font-weight: 500;
  line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 16px;
border-radius: 4px;
padding: 8px 24px 8px 0;
min-width: 165px;
height: 40px;
background: #4d5ae5;
border: 1px solid #4d5ae5;
cursor: pointer;
border: none;
}

.icon-subscribe {
    fill: #fff;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
margin-left: 16px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 16px;
    justify-content: center;

} 
.portfolio-card {
    max-width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0; 
     } 

    .banner {
        padding: 112px 136px;
        max-width: 768px;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/banner-tab-min.jpg");
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/banner-tab-2x-min.jpg");
    }
}

    .main-title {
        font-size: 56px;
        margin-bottom: 36px;
        line-height: 1.07143;
    }

    /* section-about */
    .section-about {
        padding: 96px 16px;
    }

    .list-about {
     gap: 72px 24px; 
    }

    .item-about {
        width: 356px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-basis: calc((100% - 24px ) / 2 );
    }

    .item-about-title {
        text-align: left;
    }



    .list-portfolio {
        gap: 72px 24px;
    }

    .portfolio-card {
        max-width: 356px;
        flex-basis: calc((100% - 24px ) / 2 );
    }

    .portfolio-box-img {
        width: 356px;
        height: 300px;
    }

    .section-team  {
        padding: 96px 108px;
    }

    .list-team-card {
        gap: 24px; 
}

.team-card {
    flex-basis: calc(( 100% - 24px ) / 2);

}
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;   
    }
    
    .banner {
        padding: 188px 0;  
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/banner-bg-min.jpg"); 
       
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx), (min-resolution: 192dpi) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/banner-bg-2x-min.jpg");
    }
}
.main-title {
    max-width: 496px;
    text-align: center;
    max-width: 496px;
    margin: 0  auto 48px;
}

.list-portfolio {
    gap: 40px 24px;
}
.portfolio-card {
    max-width: 360px;
    flex-basis: calc((100% - 48px ) / 3 );
}


/* section-about */
.item-about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.list-about {
    gap: 24px;
}

.item-about {
    max-width: 264px; 
    flex-basis: calc((100% - 72px) / 4 );
}

.item-about-title {
    margin-bottom: 0;
}

.icon-box {
    background-color: #F4F4FD;
    display: flex;
    padding: 24px 0;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
}

.icon-box:hover {
    border: 1px solid #8E8F99;
}
}