body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 400;
}

h1, 
h2, 
h3, 
h4,
p {
 margin: 0;
}

img {
 display: block;
 max-width: 100%;
 object-fit: cover;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    max-width: 1158px;
    margin: 0 auto;
    
}

.flex-container {
    display: flex;
}

.nav-container {
display: flex;
align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.contacts {
    margin-right: 0;
}
.contact-list {
    display: flex;
    gap: 40px;
    margin-right: 0;
}

.header {
    padding: 0 15px;
    border-bottom: 1px solid #e7e9fc;
}

.title-second {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.title-third {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2 ;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}
.logo span {
    color: #2E2F42;
}

.link-nav  {
    font-weight: 500;
}

li a {
    color: #2E2F42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts li a {
    color:#434455;
    font-weight: 400;
}

li a:hover,
li a:focus {
    color: #404bbf;
}

.portfolio p {
    font-size: 16px;
    font-weight: 400;
}

.footer {
background-color: #2E2F42;
color: #F4F4FD;
padding: 100px 0;
}

.footer .logo span {
    color: #F4F4FD;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .text {
    max-width: 264px;
}

/* section banner */
.banner {
    padding: 188px 0;
    background-color: #2E2F42;
    /* text-align: center; */
}

.main-title {
    font-weight: Bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin: 0  auto 48px;
}

.main-button {
background-color: #4D5AE5;
color: #fff;
cursor: pointer;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
display: block;
margin: 0 auto;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
/* section about */
.section-about {
     background-color: #fff;
     padding: 120px 0;
}

.list-about {
 gap: 24px;
}

.item-about {
    flex-basis: calc((100% - 72px ) / 4 );
    gap: 20px;
}

.title-about {
    display: none;
}

.item-about-title {
margin-bottom: 8px;
}

/* section team */
.section-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.list-team-card {
display: flex;
gap: 24px;
flex-wrap: wrap;
justify-content: space-between;
}

.team-card {
    background-color: #fff;
   flex-basis: calc((100% - 72px ) / 4);
   border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
max-width: 264px;
text-align: center;

}

.team-card-description {
    padding: 32px 0;
}

.title-second {
    margin-bottom: 72px;
}

/* section portfolio */
.section-portfolio {
    padding: 120px 0;
    background-color: #fff;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px 24px;

}

.portfolio-card {
   
padding: 0 0 32px;
max-width: 360px;
width: calc((100% - 48px ) / 3);
}

.portfolio-card-content {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}